body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Mark Pro";
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot");
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.svg#Mark Pro")
      format("svg");
}
